
  @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Josefin+Sans:ital@1&family=Montserrat:ital,wght@0,100;0,600;1,200&family=Overpass:wght@300&family=Poppins:wght@300&family=Roboto:wght@300;500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.image-{

  background-image: url(./assets/Images/bg-desktop-light.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:300px;
  max-width:100%;
}

.image-margin{
  padding: 120px 0px;
}


.headings{
  display: flex;
  justify-content: space-evenly;
  
}

.headings>span{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.AddTask{
  text-align: center;
}

input[type='text']{
  height:40px;
  width:370px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[type='date']{
  margin-right: 5px;
}

button{
  background-color: transparent;
  color:brown;
}

.OutputTodo{
  text-align: center;
  margin-top: 20px;
}

.cancel{
  color:red;
  margin-left: 15px;
}

.complete{
  color: green;
  margin-right: 15px;
  text-decoration: line-through;
}

.completed {
  text-decoration: line-through;
}

.top-react-icons{
  font-size: 1.5rem;
  margin-right: 10px;
}

.flexy{
  display: flex;
  justify-content: center;
  
}


li{
  list-style: none;
}